{% extends "base.html" %}

{% block extra_css %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'subscribe/css/subscription_created.css' %}">
{% endblock %}

{% block navbar %}
{# only brand from navbar #}
<nav class="navbar subscribe-navbar">
    <a class="navbar-brand" href="{% url 'index' %}">AbbyH Stories</a>
</nav>
{% endblock %}

{% block content %}

    <div class="subscription-created-wrapper bg-off-white">
        <div class="container subscription-created-inner">
            <div class="row">
                <div class="col-12 check-icon-wrapper">
                    <span class="check-icon fa-icon-center"><i class="far fa-check-circle"></i></span>
                </div>
                <div class="col-12">
                    <span>Your payment of ${{ subscription_cost }} was received. Thank you for your support.</span>
                </div>
                <div class="col-12">
                    <span>Welcome {{ first_name }}! I hope you enjoy the stories.</span>
                </div>
                <div class="col-12">
                    <span>An email with your account activation link has been sent to {{ email }}</span>
                </div>
                <div class="col-12">
                    <span>Email not received?</span>
                    <span>
                        <a class="email-link" target="_blank" href="mailto:{{ default_from_email }}?subject=Activation&nbsp;email&nbsp;not&nbsp;received&nbsp;for&nbsp;{{ username }}&body=Dear&nbsp;Abby,&nbsp;I&nbsp;subscribed&nbsp;to&nbsp;your&nbsp;website&nbsp;but&nbsp;I&nbsp;did&nbsp;not&nbsp;receive&nbsp;an&nbsp;activation&nbsp;email.&nbsp;My&nbsp;username&nbsp;is&nbsp;{{ username }}.&nbsp;Yours,&nbsp;{{ first_name }}&nbsp;{{ last_name }}">
                        Contact
                        </a> 
                        for assistance.
                    </span>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block footer %}
{# overwite parent block so footer is not displayed #}
{% endblock %}
