{% extends "base.html" %}

{% block extra_css %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'subscribe/css/subscribe.css' %}">
{% endblock %}

{% block navbar %}
{# only brand from navbar #}
<nav class="navbar subscribe-navbar">
    <a class="navbar-brand" href="{% url 'index' %}">AbbyH Stories</a>
</nav>
{% endblock %}

{% block content %}
    <div id="loading-overlay" class="hidden">
        <div class="lds-ripple spinner"><div></div><div></div></div>
    </div>
    <div class="subscribe-text-wrapper bg-light-blue">
        <div class="subscribe-text container">
            <div class="row">
                <div class="col-12">
                    <span>Get full access to all stories for just a $5 payment</span>
                </div>
            </div>
        </div>
    </div>
    <div class="subscribe-form-wrapper .bg-off-white">
        <div class="subscribe-form-inner container">
            <div class="row">
                <div class="col-12">
                    <form method="post" id="subscribe-form">
                        {% csrf_token %}
                        <fieldset>
                            {{ user_form.first_name | as_crispy_field }}
                            {{ user_form.last_name | as_crispy_field }}
                            {{ user_form.email | as_crispy_field }}
                            {{ subscribe_form.city | as_crispy_field }}
                            {{ subscribe_form.country | as_crispy_field }}
                            {{ user_form.username | as_crispy_field }}
                            {{ user_form.password1 | as_crispy_field }}
                            {{ user_form.password2 | as_crispy_field }}
                        </fieldset>
                        <hr>
                        <fieldset>
                            <div id="card-element">
                                {# Stripe.js injects the Card Element here #}
                            </div>
                            {# credit [2] #}
                            <p id="card-errors" role="alert"></p>
                        </fieldset>
                        <input type="hidden" value="{{ client_secret }}" name="client_secret">
                        <button id="submit-button" class="btn cta-btn" type="submit" disabled>
                            <span id="button-text">Subscribe</span>
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block footer %}
{% endblock %}

{% block extra_postloadjs %}
    {# overwrite parent block #}
    <script src="{% static 'js/messages.js' %}"></script>
    {# output template variables in script element accessible to external script via id attributes #}
    {{ stripe_public_key|json_script:"id_stripe_public_key" }}
    {{ client_secret|json_script:"id_client_secret" }}
    <script src="{% static 'subscribe/js/subscribe.js' %}"></script>
{% endblock %}