{% extends "base.html" %}

{% block extra_css %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'subscribe/css/subscribe.css' %}">
{% endblock %}

{% block content %}
    <div id="loading-overlay" class="hidden"></div>
    <h1>Subscribe</h1>

    <form method="post" id="subscribe-form">
        {% csrf_token %}
        {{ user_form.as_p }}
        <hr>
        {{ subscribe_form.as_p }}
        <hr>
        <div id="card-element">
            {# Stripe.js injects the Card Element #}
        </div>
        {# credit [2] #}
        <p id="card-errors" role="alert"></p>
        <input type="hidden" value="{{ client_secret }}" name="client_secret">
        <button id="submit-button" type="submit" disabled>
            <div class="spinner hidden" id="spinner"></div>
            <span id="button-text">Subscribe</span>
        </button>
    </form>
{% endblock %}

{% block extra_postloadjs %}
    {# output template variables in script element accessible to external script via id attributes #}
    {{ stripe_public_key|json_script:"id_stripe_public_key" }}
    {{ client_secret|json_script:"id_client_secret" }}
    <script src="{% static 'subscribe/js/subscribe.js' %}"></script>
{% endblock %}