{% extends "base.html" %}

{% block extra_css %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'subscribe/css/subscription_created.css' %}">
{% endblock %}

{% block navbar %}
{# only brand from navbar #}
<nav class="navbar subscribe-navbar">
    <a class="navbar-brand" href="{% url 'index' %}">AbbyH Stories</a>
</nav>
{% endblock %}

{% block content %}

    <div class="subscription-created-wrapper bg-off-white">
        <div class="container subscription-created-inner">
            <div class="row">
                <div class="col-12 check-icon-wrapper">
                    <span class="check-icon fa-icon-center"><i class="far fa-check-circle"></i></span>
                </div>
                <div class="col-12">
                    <span>Your payment of ${{ subscription_cost }} was successful</span>
                </div>
                <div class="col-12">
                    <span>Welcome {{ first_name }}! Your subscription was successful and an email with your account activation link has been sent to {{ email }}</span>
                </div>
                <div class="col-12">
                    <span>Email not received?</span>
                    <span><a>Contact me</a> for help</span>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block footer %}
{# overwite parent block so footer is not displayed #}
{% endblock %}
