# folders
__pycache__/
.vscode/
node_modules/

# files
core.Microsoft*
core.mongo*
core.python*
env.py
*.py[cod]
.env
production.env
*.sqlite3
media/private/story_pdfs/*
# CREDIT[15]
!media/private/story_pdfs/.gitkeep
media/public/story_images/*
!media/public/story_images/.gitkeep

