{% extends "base.html" %}

{% block extra_css %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'css/registration/login.css' %}">
{% endblock %}


{% block content %}

<div class="login-form-wrapper bg-off-white">
    <div class="login-form-inner container">
        <div class="row">
            <div class="col-12">
                <form method="post" id="login-form" class="login-form">
                    {% csrf_token %}
                    <fieldset>
                        {% for field in form %}
                            {{ field | as_crispy_field }}
                        {% endfor %}
                    </fieldset>
                    <button id="submit-button" class="btn cta-btn" type="submit">
                        <span id="button-text">Log in</span>
                    </button>
                    <div class="errors-wrapper">
                        {% if form.errors %}
                            {% for error in form.errors.values %}
                                {{ error }}
                            {% endfor %}
                        {% endif %}
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}