/*** IMPORTS ***/

@import url('https://fonts.googleapis.com/css2?family=Benne&family=Over+the+Rainbow&display=swap');

/*** GLOBAL ***/

* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

body {
    font-family: 'Benne', serif;
}

/* colors */
:root {
    --off-white: #FDF9F2;
    --light-blue: #A4C0C4;
    --dark-blue: #061234;
}

/*** UTILITY ***/

.hide {
    display: none !important;  /* override more specific 'display' rules */
}

.fa-icon-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

/*** BUTTONS ***/
.btn {
    background-color: var(--light-blue);
    color: var(--off-white);
}

/*** NAVBAR ***/

.navbar {
    padding: 0;
    max-height: 100vh;  /* prevent overflow due to 100vh + 70px content height */
}

.navbar .navbar-collapse {
    justify-content: flex-end;
    align-items: center;
}

.navbar .navbar-collapse .navbar-nav {
    align-items: center;
    margin-right: .75rem;
}

.navbar .navbar-brand {
    font-family: 'Over the Rainbow', cursive;
}

.navbar .navbar-brand,
.navbar .navbar-toggler:not(.collapsed) {
    z-index: 100;
    height: 50px;
    padding: .25rem;
    margin: 10px .25rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--dark-blue);
}
}

.navbar .navbar-toggler {
    border: none;
}

.navbar .navbar-toggler i {
    font-size: 30px;
}

.navbar .navbar-toggler:focus {
    box-shadow: none;
}

.navbar .navbar-collapse.show,
.navbar .navbar-collapse.collapsing {
    z-index: 10;
    background-color: #FDF9F2;
    position: relative;
    top: -70px;
}

.navbar .navbar-collapse.show .navbar-nav,
.navbar .navbar-collapse.collapsing .navbar-nav {
    justify-content: center;
    height: 100vh;
    width: 100vw;
}

.navbar-nav .nav-link {
    font-size: 16px;
    line-height: 40px;
    height: 40px;
    padding: .2rem .5rem;
}

.navbar-nav .nav-link:not(.btn) {
    color: var(--dark-blue);
}

.nav-link.active {
    border-bottom: .25px lightslategray solid;
}

/*** MESSAGES ***/

.messages {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.message {
    display: flex;
    width: 100%;
    justify-content: center;
    margin-bottom: .5rem;
    padding: 0 1rem;
}

.message .message-content {
    margin-left: auto;
}

.message .message-dismiss-icon {
    margin-left: auto;
}

.message .message-dismiss-icon i {
    font-size: 20px;
}

