/*** GLOBAL ***/

* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

/*** UTILITY ***/

.hide {
    display: none;
}

.fa-icon-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

/*** NAVBAR ***/

.navbar {
    padding: 0;
    max-height: 100vh;  /* prevent overflow due to 100vh + 70px content height */
}

.navbar .navbar-collapse .navbar-nav {
    justify-content: flex-end;
    align-items: center;
}

.navbar .navbar-brand-wrapper,
.navbar .navbar-toggler-wrapper {
    padding: .25rem;
    z-index: 100;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 .5rem;
}

.navbar .navbar-brand,
.navbar .navbar-toggler {
    padding: .25rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar .navbar-toggler {
    transition: none;
    border: none;
}

.navbar .navbar-toggler i {
    font-size: 30px;
}

.navbar .navbar-toggler:focus {
    box-shadow: none;
}

.navbar .navbar-collapse.show,
.navbar .navbar-collapse.collapsing {
    z-index: 10;
    background-color: #FDF9F2;
    position: relative;
    top: -70px;
}

.navbar .navbar-collapse.show .navbar-nav,
.navbar .navbar-collapse.collapsing .navbar-nav {
    justify-content: center;
    height: 100vh;
    width: 100vw;
}
