.stories-list-wrapper {
    padding: calc(6rem + 2vw) calc(4rem + 2vw);
    min-height: 100vh;
}

.story-wrapper {
    width: 100%;
    margin-bottom: 2rem;
}

.story-wrapper .story-img {
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

/* hover effect on story image link */
.story-wrapper .story-img:hover {
    box-shadow: 0 0 15px #888;
}

/* CREDIT[11] */
.story-wrapper .story-img::after {
    content: "";
    display: block;
    padding-bottom: 100%;
    background-color: black;
    opacity: .3;
}

.story-img .story-title {
    font-family: var(--cursive);
    color: var(--off-white);
    font-size: calc(20px + .75vw);
    font-weight: 900;
    margin: auto;
    position: absolute;
    text-align: center;
    top: 20%;
    width: 100%;
    padding: 1rem;
    z-index: 10;
}
