.story-form-wrapper{
    min-height: 100vh;
}

.story-form-inner {
    padding: calc(4rem + 1vw) calc(1rem + 2vw);
}

.story-form-inner .row {
    margin-top: 35px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.story-form-inner .row.story-form-row {
    margin-top: 20px;
}

/* remove default help text from fields*/
.story-form .helptext,
.story-form .help-block,
.story-form .controls ul,
.story-form .controls p {
    display: none;
}

#story-form input:not(#id_featured,#id_image,#id_pdf),
#story-form select {
    height: 44px;
    line-height: 44px;
    padding: 4px 12px 0 12px;
}

#story-form textarea {
    line-height: 24px;
    padding: 12px;
}


#story-form input:not(#id_featured),
#story-form select,
#story-form textarea {
    border-radius: 6px;
    margin: 5px 0;
    border: 2px solid rgba(50, 50, 93, 0.1);
    font-size: 16px;
    overflow: visible;
    box-sizing: content-box;
    font-family: serif;
    color: var(--dark-blue);
    display: flex;
    align-items: center;
}

#story-form input:not(#id_image,#id_pdf,#id_featured),
#story-form textarea,
#story-form select {
    width: calc(100% - 24px);
}

#story-form input#id_featured {
    height: 20px;
    width: 20px;
    margin: 0 10px 7px 0;
}

#story-form input#id_image,
#story-form input#id_pdf {
    margin: 5px 0;
    height: 44px;
    line-height: 35px;
    padding: 4px 12px 0 12px;
    cursor: pointer;
    width: 80%;
    max-width: 300px;
}

#story-form input#id_image::-webkit-file-upload-button,
#story-form input#id_pdf::-webkit-file-upload-button {
    cursor: pointer;
    margin-right: 12px;
}

/* CREDIT[13] */
.asteriskField {
    display: none;
}

.add-story-form select#id_genre {
    color: #6c757d;
}

.add-story-form select#id_genre option:not([selected]) {
    color: var(--dark-blue);
}

.control-group {
    margin: 25px 0;
}

.checkbox {
    display: flex;
    align-items: center;
    height: 44px;
    line-height: 44px;
    padding: 0 4px;
}

.add-story-form #div_id_title label,
.add-story-form #div_id_reading_time_mins label,
.add-story-form #div_id_description label,
.add-story-form #div_id_genre label {
    display: none;
}

