.story-detail-wrapper{
    min-height: 100vh;
}

.story-detail-inner {
    padding: calc(6rem + 2vw) calc(1rem + 2vw);
    max-width: 800px;
}

.story-detail-inner .row {
    margin-top: 35px;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.story-detail-inner .row h1 {
    font-size: calc(28px + 2vw);
    text-align: center;
    /* CREDIT[14] */
    text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
             0px 8px 13px rgba(0,0,0,0.1),
             0px 18px 23px rgba(0,0,0,0.1);
}

.story-img-wrapper {
    width: 100%;
    margin: calc(.75rem + 1vw) 0;
}

.story-img-wrapper .story-img {
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

/* CREDIT[11] */
.story-img-wrapper .story-img::after {
    content: "";
    display: block;
    padding-bottom: 100%;
}

.story-detail-inner .story-details p,
#subscribe-link {
    text-align: center;
}

#subscribe-link {
    font-size: 18px;
}

#subscribe-link a,
.story-details .nav-edit i {
    color: var(--light-blue);
}

#subscribe-link a:hover,
.story-details .nav-edit i:hover {
    color: var(--dark-blue);
}

.story-details .nav-edit {
    max-width: max-content;
    margin-top: 1rem;
}

.story-details .nav-edit i {
    font-size: 28px;
}

.story-detail-inner .story-desc {
    margin-top: 65px;
    padding: 0 1rem;
}

.story-detail-inner .story-desc p {
    font-size: 22px;
    line-height: 2;
}

@media screen and (min-width: 576px) {
    .story-detail-inner .story-desc {
        padding: 0 3rem;
    }
    .story-detail-inner .story-desc p {
        font-size: 24px;
    }
}

@media screen and (min-width: 992px) {
    .story-detail-inner .story-details p {
        font-size: 18px;
    }
    #subscribe-link {
        font-size: 20px;
    }
}