<footer>
    <div class="footer-nav">
        {% if not user.is_authenticated %}
            <a class="nav-link cta-btn btn btn-color-inv" href="{% url 'subscribe' %}">Subscribe</a>
        {% endif %}
        <a class="nav-link" href="{% url 'stories' %}">Stories</a>
        <a class="nav-link" href="{% url 'about' %}">About</a>
        <a class="nav-link nav-instagram" href="https://www.instagram.com/">
            <span class="socialmedia-icon fa-icon-center"><i class="fab fa-instagram"></i></span>
        </a>
        <a class="nav-link nav-twitter" target="_blank" href="https://twitter.com/justabbyd">
            <span class="socialmedia-icon fa-icon-center"><i class="fab fa-twitter"></i></span>
        </a>
    </div>
</footer>