.subscribe-navbar .navbar-brand{
    color: var(--off-white);
}

.subscribe-text-wrapper {
    min-height: 33.3vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.subscribe-text {
    margin-top: 80px;
    padding: calc(4rem + 1vw);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.subscribe-text .col-12 {
    color: var(--off-white);
    font-size: calc(20px + 1vw);
    line-height: 1.5;
    display: flex;
    justify-content: center;
    align-items: center;
}

.subscribe-text .col-12 span {
    text-align: center;
}

.subscribe-form-wrapper{
    min-height: 66.6vh;
}

.subscribe-form-inner {
    padding: calc(4rem + 1vw) calc(1rem + 2vw);
    max-width: 800px;
}

/* remove default help text from fields*/
#subscribe-form .helptext,
#subscribe-form .help-block,
#subscribe-form .controls ul,
#subscribe-form .controls p {
    display: none;
}

.hidden {
    display: none !important;
}

/* css for subscribe form UI with stripe based on 
https://stripe.com/docs/payments/integration-builder */

#subscribe-form input,
#subscribe-form select,
#card-element {
    border-radius: 6px;
    margin: 10px 0;
    padding: 4px 12px 0 12px;
    border: 2px solid rgba(50, 50, 93, 0.1);
    height: 44px;
    line-height: 44px;
    font-size: 16px;
    overflow: visible;
    width: calc(100% - 24px);
    box-sizing: content-box;
    font-family: serif;
    color: var(--dark-blue);
    display: flex;
    align-items: center;
}

#card-element .__PrivateStripeElement {
    width: 100%;
}

#card-errors {
    height: 30px;
    padding: 4px;
    margin: 0;
}

.card-error {
    color: #dc3545;
}

.card-error,
.card-info {
    margin-right: 4px;
}

#subscribe-form input,
#subscribe-form #card-element {
    background: white;
}

#subscribe-form input::placeholder,
#subscribe-form #card-element {
    color: #6c757d;
}

select#id_country {
    color: #6c757d;
}

select#id_country option:not([selected]) {
    color: var(--dark-blue);
}

#submit-button:hover:not(:disabled) {
    filter: contrast(115%);
}

#submit-button:disabled {
    opacity: 0.3;
    cursor: default;
}

/* overlay and spinner */

#loading-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: var(--light-blue);
    z-index: 10000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
}

.loading-overlay-text {
    color: var(--off-white);
    font-size: 20px;
    text-align: center;
    padding: 4rem 2rem;
}

.spinner {
    color:  var(--off-white);
}

/* CREDIT[12] */
.lds-ripple {
    display: inline-block;
    position: relative;
    width: 320px;
    height: 320px;
  }
  .lds-ripple div {
    position: absolute;
    border: 4px solid #fff;
    opacity: 1;
    border-radius: 50%;
    animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
  }
  .lds-ripple div:nth-child(2) {
    animation-delay: -0.5s;
  }
  @keyframes lds-ripple {
    0% {
      top: 160px;
      left: 160px;
      width: 0;
      height: 0;
      opacity: 1;
    }
    100% {
      top: 0px;
      left: 0px;
      width: 320px;
      height: 320px;
      opacity: 0;
    }
  }

