.subscription-created-wrapper {
    min-height: 100vh;
    min-width: 100vw;
    padding: calc(4rem + 1vw) calc(2rem + 3vw);
}

.subscription-created-inner {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.subscription-created-inner .row {
    flex-direction: column;
    align-items: center;
}

.subscription-created-inner .row .col-12 {
    flex-direction: column;
    align-items: center;
    color: var(--dark-blue);
    font-size: calc(18px + .75vw);
    line-height: 2;
    text-align: center;
}

.email-link {
    color: var(--light-blue);
    text-decoration: underline;
}

.check-icon-wrapper {
    padding: 2rem;
}

.subscription-created-wrapper .fa-check-circle {
    font-size: 100px;
    color: var(--light-blue);
}