{% extends "base.html" %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'pages/css/index.css' %}">
{% endblock %}

{% block extra_title %}Welcome{% endblock %}

{% block content %}
    <div class="hero-wrapper">
        <div id="hero-img">
            <a class="cta-btn btn" href="{% url 'subscribe' %}">Read Now</a>
        </div>
    </div>
    <div class="main-wrapper bg-off-white">
        <div class="main-text container">
            <div class="row">
                <div class="col-12">
                    Short stories exploring family, the ties that bind us together, race, and the experience of women. A small town in Arkansas, a wealthy English family, a group of friends entering college, and the wife of a Romanian dictator all feature in these stories.
                </div>
                <div class="col-12">
                    <a class="cta-btn btn" href="{% url 'subscribe' %}">Stories</a>
                </div>
            </div>
            
        </div>
    </div>
    
{% endblock %}
