<!DOCTYPE html>
<html lang="en">
<head>
    {% block meta %}
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <meta name="Description" content="Stories by Author JustAbbyH"/>
    {% endblock %}

    {% block extra_meta %}
    {% endblock %}

    {% block core_css %}
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
        <link rel="stylesheet" href="{% static 'css/base.css' %}">
    {% endblock %}

    {% block extra_css %}
    {% endblock %}

    {% block core_js %}
        {# load stripe js on all pages for fraud detection #}
        <script src="https://js.stripe.com/v3/"></script>  
    {% endblock %}

    {% block extra_js %}
    {% endblock %}

    <title>justAbbyH | {% block extra_title %}{% endblock %}</title>
</head>
<body>
    {% include 'includes/navbar.html' %}

    {% if messages %}
        {% for message in messages %}
            <p>{{ message }}</p>    
        {% endfor %}
    {% endif %}

    {% block content %}
    {% endblock %}

    {% block core_postloadjs %}
        <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.9.2/umd/popper.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.1/js/bootstrap.min.js"></script>
    {% endblock %}

    {% block extra_postloadjs %}
    {% endblock %}

    {% include 'includes/footer.html' %}
</body>
</html>