{% extends "base.html" %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'stories/css/story_form.css' %}">
{% endblock %}

{% block content %}
    <div class="story-form-wrapper bg-off-white">
        <div class="story-form-inner container">
            <div class="row">
                <div class="col-12">
                    <form method="post" id="story-form" class="add-story-form" enctype="multipart/form-data">
                        {% csrf_token %}
                        <fieldset>
                            {{ add_story_form.title | as_crispy_field }}
                            {{ add_story_form.reading_time_mins | as_crispy_field }}
                            {{ add_story_form.description | as_crispy_field }}
                            {{ add_story_form.pdf | as_crispy_field }}
                            {{ add_story_form.image | as_crispy_field }}
                            {{ add_story_form.image_credit | as_crispy_field }}
                            {{ add_story_form.genre | as_crispy_field }}
                            {{ add_story_form.featured | as_crispy_field }}
                        </fieldset>
                        <button id="submit-button" class="btn cta-btn" type="submit">
                            <span id="button-text">Save</span>
                        </button>
                        <div class="errors-wrapper">
                            {% if add_story_form.errors %}
                                <span class="error-icon icon" role="alert">
                                    <i class="fas fa-times"></i>
                                </span>
                                <strong>Check the form for errors and re-attach files</strong>
                            {% endif %}
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block extra_postloadjs %}
    {{ block.super }}
    <script src="{% static 'stories/js/story_form.js' %}"></script>
{% endblock %}