/*** HOMEPAGE ***/

.hero-wrapper {
    width: 100vw;
    height: 100vh;
    z-index: 1;
}

#hero-img {
    height: 100%;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(/static/img/home-hero-portrait.jpg);
    position: relative;
}

.hero-wrapper .btn.cta-btn,
.main-wrapper .btn.cta-btn
 {
    font-size: 24px;
    line-height: 60px;
    height: 50px;
    width: 110px;
    box-sizing: content-box;
    padding: .4rem 1.2rem;
}

.hero-wrapper .btn.cta-btn {
    position: absolute;
    bottom: 0;
    margin-bottom: calc(3.5rem + 1vw);
    left: 50%;
    transform: translate(-50%, 0);
}

.main-text {
    padding: 4rem calc(3rem + 1vw) 0 calc(3rem + 1vw);
}

.main-text .row {
    flex-direction: column;
    align-items: center;
}

.main-text .col-12 {
    color: var(--dark-blue);
    font-size: calc(20px + 1vw);
    line-height: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: calc(3.5rem + 1vw);
}

/* serve landscape image for wider screens */
@media screen and (min-width: 610px) {
    #hero-img {
        background-image: url(/static/img/home-hero-landscape.jpg);
    }  
}