/*** HOMEPAGE ***/

.hero-wrapper {
    width: 100vw;
    height: 100vh;
    z-index: 1;
}

#hero-img {
    height: 100%;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(/static/img/home-hero-portrait.jpg);
    position: relative;
}

#hero-img .btn.subscribe-btn {
    position: absolute;
    bottom: 6.5%;
    left: 50%;
    transform: translate(-50%, 0);
    font-size: 24px;
    line-height: 60px;
    height: 50px;
    box-sizing: content-box;
    padding: .5rem 1.4rem;
}

.main-text {
    padding: 4rem calc(3rem + 1vw);
}

.main-text .col {
    color: var(--dark-blue);
    font-size: calc(20px + 1vw);
    line-height: 2;
}

/* serve landscape image for wider screens */
@media screen and (min-width: 610px) {
    #hero-img {
        background-image: url(/static/img/home-hero-landscape.jpg);
    }  
}