/*** HOMEPAGE ***/

.hero-wrapper {
    width: 100vw;
    height: 100vh;
    max-height: 100vh;
    z-index: 1;
    position: relative;
}

#hero-img {
    height: 100%;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(/static/img/home-hero-portrait.jpg);
    animation-name: hero-zoom;
    animation-duration: 3s;
    animation-fill-mode: forwards;
/* Ease in timing function to disguise rendering of image */
    animation-timing-function: ease-in;
}

@keyframes hero-zoom{
    from {
        -webkit-transform: scale(1.1);
                transform: scale(1.1);
        opacity: 0;
    }
    to{
        -webkit-transform: scale(1);
                transform: scale(1);
        opacity: 1;
    }
}

.hero-wrapper .btn.cta-btn,
.main-wrapper .btn.cta-btn
 {
    font-size: 24px;
    line-height: 60px;
    height: 50px;
    width: 110px;
    box-sizing: content-box;
    padding: .4rem 1.2rem;
}

.hero-wrapper .btn.cta-btn {
    position: absolute;
    bottom: 0;
    margin-bottom: calc(3.5rem + 1vw);
    left: 50%;
    transform: translate(-50%, 0); /* translate % relative to contained element's diemsions */
}

.main-wrapper {
    min-height: 90vh;
}

.main-text {
    padding: calc(4rem + 1vw) calc(3rem + 1vw) 0 calc(3rem + 1vw);
}

.main-text .row {
    flex-direction: column;
    align-items: center;
}

.main-text .col-12 {
    color: var(--dark-blue);
    font-size: calc(20px + 1vw);
    line-height: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: calc(3.5rem + 1vw);
}

/* serve landscape image for wider screens */
@media screen and (min-width: 610px) {
    #hero-img {
        background-image: url(/static/img/home-hero-landscape.jpg);
    }  
}

/* change navbar font colors for wider screen background image */
@media screen and (min-width: 610px) {
    .navbar .navbar-brand {
        color: var(--off-white);
    }
}